<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Liga Squasha</title>
        {% load static %}
        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/yeti/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-ai4W/dNRpZ8Bl2+MNe2GXtf7urjWG5od4NHaCWEwrMeLzfDEQWZjFFIjQ6zG4R3W"
              crossorigin="anonymous">
        <link href="/static/css/simple-sidebar.css" rel="stylesheet">
    {% endblock %}
</head>

<body>


<div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a href="/home">
                    <img src="/media/logo3.png" class="img-responsive">
                </a>
            </li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'create_reservation' %}">Zarezerwuj</a></li>
                <li><a href="{% url 'rooms' %}">Dołącz do gry</a></li>
                <li><a href="{% url 'user_reservations' %}">Rezerwacje</a></li>
                <li><a href="{% url 'user_games' %}">Mecze</a></li>
                <li><a href="{% url 'user_history' %}">Historia meczów</a></li>
                <li>Zalogowany: <a href="{% url 'profile' user.id %}">{{ user.username }}</a></li>
                <li><a href="{% url 'logout' %}">Wyloguj</a></li>
                <li><a href="{% url 'todolist' %}">To Do List</a></li>


            {% else %}
                <li><a href="/signup">Rejestracja</a></li>
                <li><a href="/login">Logowanie</a></li>

            {% endif %}
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            {% block content %}


            {% endblock %}
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>

</html>
