{% extends 'index.html' %}

{% block content %}
    Lokalizacja: {{ room.location }}<br>
    Data: {{ room.date }}<br>
    Godzina rozpoczęcia: {{ room.time_start }}<br>
    Godzina zakończenia: {{ room.time_end }}<br>

    {% if request.user == room.user_main %}
        Przeciwnik: {{ room.user_partner }}<br>
    {% else %}
        Przeciwnik: {{ room.user_main }}

        <form method="POST">
            {% csrf_token %}
            <input type="submit" value="Dołącz do gry">
        </form>

    {% endif %}

    {% if room.user_main and room.user_partner != None %}
        {{ room.user_main }} vs {{ room.user_partner }}<br>
        <a href="/delete_room/{{ room.id }}" class="btn btn-secondary">Odwołaj mecz</a>

        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Wyślij wynik">
        </form>
    {% else %}
        <a href="/delete_room/{{ room.id }}" class="btn btn-secondary">Odwołaj mecz</a>
    {% endif %}

{% endblock %}