{% extends 'index.html' %}

{% block content %}
    <li>Username: <b>{{ user.username }}</b></li>
    <li>E-mail: {{ user.email }}</li>
    <li>Imię: {{ user.first_name }}</li>
    <li>Nazwisko: {{ user.last_name }}</li>
    <li>Ostatnio zalogowany: {{ user.last_login }}</li>
    <li>Doświadczenie: {{ user.get_skill_display }}</li>

    <h5>Twoje najbliższe mecze:</h5>
    <table>
        <tbody>
            <tr>
                <th>Data</th>
                <th>Początek meczu</th>
            </tr>
                {% for game in games %}
                <tr>
                    <td>{{ game.date }}</td>
                    <td>{{ game.time_start }}</td>
                    <td> <a href="/rooms/{{ game.id }}"> Zobacz szczegóły gry </a> </td>
                </tr>
{% endfor %}
        </tbody>
    </table>

{% endblock %}
