{% extends 'index.html' %}

{% block content %}
    <p>Username: <b>{{ user.username }}</b></p>
    <p>E-mail: {{ user.email }}</p>
    <p>Imię: {{ user.first_name }}</p>
    <p>Nazwisko: {{ user.last_name }}</p>
    <p>Ostatnio zalogowany: {{ user.last_login }}</p>
    <p>Doświadczenie: {{ user.get_skill_display }}</p>
    <p><img src="/media/{{ user.avatar  }}" width="200"></p>
    <p><a href="/edit_profile"> Edytuj profil </a></p>

    <table border="black">
        <tbody>
        <tr>
            <td>Rozegrane mecze</td>
            <td>Wygrane mecze</td>
            <td>Przegrane mecze</td>
            <td>Wygrane sety</td>
            <td>Przegrane sety</td>
            <td>Ranking</td>
        </tr>
        <tr>
            <td>{{ user_stat.games_played }}</td>
            <td>{{ user_stat.games_won }}</td>
            <td>{{ user_stat.games_lost }}</td>
            <td>{{ user_stat.sets_won }}</td>
            <td>{{ user_stat.sets_lost }}</td>
            <td>{{ user_stat.ranking }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}
