{% extends 'index.html' %}

{% block content %}

    <table class="table table-bordered">
    <thead>
        <th scope="col">Data</th>
        <th scope="col">Lokalizacja</th>
        <th scope="col">Przeciwnik</th>
        <th scope="col">Wynik</th>
        <th scope="col">Wygrana</th>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td>{{ game.date }}</td>
            <td>{{ game.location }}</td>

            {% if request.user == game.user_main %}
                <td>{{ game.user_partner }}</td>
            {% else %}
                <td>{{ game.user_main }}</td>
            {% endif %}

            {% if game.score %}
            <td>{{ game.score }}</td>
            {% else %}
            <td><a href="/reservations_list/{{ room.id }}">Uzupełnij wynik</a></td>
            {% endif %}
            {% if game.score %}
            {% if game.score.user_main_score > game.score.user_partner_score and request.user == game.user_main %}
            <td><img src="/media/ok_sign.png" width="30px" height="20px"></td>
            {% else %}
            <td><img src="/media/wrong.jpg" width="30px" height="20px"></td>
            {% endif %}
            {% endif %}


        </tr>
        {% endfor %}
    </tbody>
    </table>


{% endblock %}