{% extends 'index.html' %}

{% block content %}

    <table class="table">
    <thead>
        <th scope="col">Data</th>
        <th scope="col">Lokalizacja</th>
        <th scope="col">Przeciwnik</th>
        <th scope="col">Wynik</th>
        <th scope="col">Wygrana</th>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td>{{ game.date }}</td>
            <td>{{ game.location }}</td>

            {% if request.user == game.user_main %}
                <td>{{ game.user_partner }}</td>
            {% else %}
                <td>{{ game.user_main }}</td>
            {% endif %}

            <td>{{ game.score }}</td>

            {% if game.score.user_main_score or game.score.user_partner_score == 3 and request.user == game.user_main %}
            <td>wygrana</td>
            {% else %}
            <td>Przegrana</td>
            {% endif %}


        </tr>
        {% endfor %}
    </tbody>
    </table>


{% endblock %}